* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
}

body {
  background-color: #F4F5FB;
  width: 100%;
  height: 100vh;
  background-size: contain;
  padding-left: 20rem;
  overflow-x: hidden;
  align-items: center;
}

@media (max-width: 26.875rem) {
  & body {
    padding: 0;
    overflow-x: hidden;
  }
}